.planner {
    display: flex;
    overflow-x: auto;
    width: 100%;
    border: 1px solid #16161d;
    padding-left: 25px;
    background: #e5e5e5;
}

.planner-section {
    flex-shrink: 0;
    width: 360px;
    position: relative;

    h3 {
        position: sticky;
        top: 0;
    }
}

@media screen and (max-width: 550px) {
    .planner {
        border-left: none;
        border-right: none;
    }
    .planner-section {
        width: 70vw;
    }
}
