.planner {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: auto;
    width: 100%;
    border: 1px solid #16161d;
    background: #e5e5e5;
    position: relative;
}
.planner-headers {
    display: flex;
    width: 100%;
    flex-shrink: 0;

    aside {
        width: 21px;
    }

    h3 {
        flex-shrink: 0;
        width: 700px;
    }
}

.planner-agendas {
    display: flex;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .planner-section {
        flex-shrink: 0;
        width: 700px;
        height: 100%;
        position: relative;
    }
}

@media screen and (max-width: 550px) {
    .planner {
        border-left: none;
        border-right: none;
    }
    .planner-section {
        width: 70vw;
    }
}
