.grid {
    margin: 50px 0;
}

.line {
    align-items: center;
    display: flex;
    height: 100px;
    position: relative;

    span {
        font-size: 9px;
        flex-shrink: 0;
        text-align: right;
        width: 31px;
        position: absolute;
        color: #63666a;
    }

    hr {
        background: #eee;
        border: none;
        height: 1px;
        width: 100%;
    }
}
