.schedule {
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 0;
    width: 100%;

    ul {
        margin: 0;
        padding: 15px 0;
        position: relative;

        hr {
            border: none;
            background: #ccc;
            height: 1px;
            width: 100%;
            flex-shrink: 0;
            margin: 14px 0;
        }

        li {
            display: flex;
            align-items: center;
            line-height: normal;
            padding: 0 30px;
            font-size: 14px;
            height: 30px;

            &:hover {
                background: #f5f5f5;
                cursor: pointer;
            }

            &.inspected {
                font-weight: 500;
                background: #f5f5f5;
            }

            .schedule-time {
                flex-shrink: 0;
                margin-right: 30px;
                width: 50px;
                text-align: right;
            }

            .schedule-title {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}

.schedule-dot {
    border: 1px solid #63666a;
    flex-shrink: 0;
    margin-right: 30px;
    height: 12px;
    width: 12px;
    transform: translateY(-0.5px);
}
