.appHeader {
  background: linear-gradient(to right, #6699cc, white);
  background: white;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 45px;
  width: 100%;
  border-bottom: 2px solid #16161d;

  h1 {
    line-height: normal;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
  }

  > button {
    background: none;
    border: none;
    margin: 0;
    font-size: 16px;
    width: 45px;
    outline: 0;
    align-self: stretch;
    padding: 0;
    line-height: 1;

    &:hover {
      cursor: pointer;
    }
  }
}
