footer {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: space-between;
  font-size: 11px;
  line-height: 50px;
  margin: 0;
  padding: 0 25px;
  background: white;
  border-top: 1px solid #16161d;
}

a {
  color: inherit;
  border-color: white;
  font-size: inherit;
}
