* {
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'Courier New', monospace;
    letter-spacing: -1px;
    margin: 0;
}

#__next {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
}
