* {
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Public Sans', courier;
  font-weight: 300;
  margin: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

main {
  /* display: flex;
  flex-grow: 1; */
}
