* {
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    font-family: 'courier new';
    letter-spacing: -0.5px;
    margin: 0;
}

#__next {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    overflow: hidden;
    flex-grow: 1;
}
