.source-filter {
    overflow-y: auto;
    padding: 0 15px;

    label {
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 12px;
        cursor: pointer;
        user-select: none;

        &.source-filter-hidden {
            opacity: 0.5;
        }

        &:hover {
            opacity: 0.75;
        }

        input {
            cursor: pointer;
            flex-shrink: 0;
            margin: 0 10px;
        }

        span {
            line-height: 1;
        }
    }
}
