.source-filter {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .source-list {
        overflow-y: auto;
    }

    > input {
        flex-shrink: 0;
        height: 36px;
        line-height: normal;
        padding: 0 8px;
        width: 100%;
        font-size: 13px;
        outline: 0;
        margin-bottom: 16px;
    }

    label {
        height: 36px;
        display: flex;
        align-items: center;
        font-size: 13px;
        cursor: pointer;
        user-select: none;
        padding: 0 8px;
        line-height: normal;

        &:hover {
            opacity: 0.75;
        }

        &.source-filter-hidden {
            background: none !important;
            color: #16161d !important;
        }

        input[type="checkbox"] {
            cursor: pointer;
            display: none;
        }

        span {
            line-height: 1;
        }
    }
}
