nav {
  height: 50px;
  padding: 0 25px;
  font-size: 14px;
  align-items: center;
  display: flex;
  flex-shrink: 0;

  .date-picker {
    padding-left: 0;
  }

  select {
    margin-left: auto;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }
  }
}
