nav {
  height: 50px;
  padding: 0 25px;
  font-size: 14px;
  align-items: center;
  display: flex;
  flex-shrink: 0;
  background: white;
  border: 1px solid #16161d;

  .date-picker {
    padding-left: 0;
  }
}
