.agenda {
    a {
        text-decoration: none;

        &:hover {
            opacity: 0.75;
        }
    }
}

.agenda-item {
    margin-bottom: 5px;
    padding: 5px 8px;
    margin-right: 16px;
    border-radius: 2px;
    color: white;
    font-size: 13px;
    line-height: 1.5;
}

h3 {
    font-size: 15px;
    padding: 0 8px;
    line-height: 50px;
    margin: 0;
}

h4 {
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;;
}

p {
    font-weight: bold;
    margin: 0;
    font-weight: bold;
}

aside {
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
