.control-bar {
    padding-left: 15px;
    padding-right: 25px;
    padding-top: 40px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    width: 280px;
    flex-shrink: 0;

    .source-filter {
        margin-top: 50px;
    }
}
