.controlBar {
  background: white;
  position: absolute;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  width: 300px;
  flex-shrink: 0;
  border-right: 1px solid #ccc;
  left: -300px;
  bottom: 0;
  top: 45px;
  transition: 200ms ease left;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
  align-items: center;

  &.control-bar-open {
    left: 0;
  }

  .date-control-wrapper {
    margin: 15px 0;
  }

  small {
    align-self: flex-start;
    background: #16161d;
    width: 100%;
    color: white;
    margin-top: auto;
    flex-shrink: 0;
    font-size: 10px;
    height: 30px;
    line-height: 32px;
    padding: 0 15px;

    a {
      font-weight: 500;
      color: white;
    }

    a:last-of-type {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
