.control-bar {
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    width: 280px;
    flex-shrink: 0;

    .source-filter {
        margin-top: 32px;
    }
}

@media screen and (max-width: 720px) {
    .control-bar {
        display: none;
    }
}
